FOCUS_TASK_DATABASE_URL=sqlite:///./todo.db
FOCUS_TASK_SECRET_KEY=replace-with-a-long-random-secret
FOCUS_TASK_TOKEN_EXPIRE_MINUTES=10080
FOCUS_TASK_PASSWORD_MIN_LENGTH=8
FOCUS_TASK_BOOTSTRAP_ADMIN_USERNAME=admin
FOCUS_TASK_BOOTSTRAP_ADMIN_PASSWORD=
FOCUS_TASK_RUN_LEGACY_MIGRATION=0
